{% if paginator.posts %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in paginator.posts %}
        <li class="item  item--post">
          <article class="article  article--post">

            <h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
             {% include post-meta.html %} 
            <small class="small  post-meta">
  {% assign date_format = post.date_format | default: "%d %b %Y" %}
 <time datetime="{{ post.date | date_to_xmlschema }}" class="time">{{ post.date | date: date_format }}</time>
</small>
            <!-- {{ page.excerpt | markdownify | truncatewords: 20 }} -->

          </article>
        </li>
      {% endfor %}
    </ul>
    {% include post-pagination.html %}
  </section>
{% else %}
  <section class="section  typeset">
    <ul class="list  list--posts">
      {% for page in site.posts %}
        <li class="item  item--post">
          <article class="article  article--post">

            <h3><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
            {% include post-meta.html %}
            {{ page.excerpt | markdownify | truncatewords: 20 }}

          </article>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
