---
layout: default
title: stories
description: If books, then those which can be carried in the memory <br/> - Stanisław Barańczak
background: '/img/20181028_120218.jpg'
category: stories
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--post  typeset">

{% assign stories = site.stories | sort: 'date' | reverse %}	    
{% for post in site.stories resversed %}

  <div class="post">
<h2 margin: 10px;>
 <div class="container";
  border: 10px dotted black;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;>     
     
        <a href="{{ post.url }}" ><img src="{{ post.thumbnail }}" align="left" hspace="20" style="max-width:100px;" />
        <div padding-bottom: 10px;
	      margin: 20px auto;>
         <a style="width:700px; height:150px" font-size:20 href="{{ post.url }}" >{{ post.title }}</a>  
<br>
<small class="small  post-meta">
  {% assign date_format = post.date_format | default: "%d %b %Y" %}
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ post.date | date_to_xmlschema }}" class="time">{{ post.date | date: date_format }}</time>
</small>	 
	 
<div class="clearfix";  margin: 10px; padding-bottom: 20px;>

</div> 
 </div>
</h2>
</div>
	 

	 	
	
      
      
{% endfor %}
    </article>
  </div>

</main>

{% include site-footer.html %}
