---
layout: default
title: stories
category: stories
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--post  typeset">

	    
{% for post in site.stories %}
 <div class="post">
		<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	 	{% include post-meta.html %}
            	{{ post.description | markdownify | truncatewords: 60 }}
		
      
      
{% endfor %}
    </article>
  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
