---
layout: default
title: stories
description: If books, then those which can be carried in the memory <br/> - Stanisław Barańczak
background: '/img/20181028_120218.jpg'
category: stories
---

{% include site-header.html %}

<main class="main  container">


{% assign stories = site.stories | sort: 'date' | reverse %}
{% for item in site.stories reversed %}

<article class="story">
 <!--  <h2> 
  <a href="{{ item.url }}">{{ item.title }}</a>
   </h2>
    {% if item.subtitle %}
    <h3 class="story-subtitle">{{ item.subtitle }}</h3>
    {% else %}
    <h3 class="story-subtitle">{{ item.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %} -->

    <div class="container">     
     <h2>
        <a href="{{ item.url }}" ><img src="{{ item.thumbnail }}" align="left" hspace="10" style="max-width:100px;" />
          
        <div>
         <a style="width:600px" font-size:20 href="{{ item.url }}" >{{ item.title }}</a>  
         </div>
 </h2>  
    </div>
<div class="clearfix">

</div> 

</article>

<hr>

{% endfor %}

</main>

{% include site-footer.html %}
