---
layout: page
title: Book notes
background: '/img/20181028_120218.jpg'
category: story
---

{% for item in site.stories %}

<article class="story">
 <!--  <h2> 
  <a href="{{ item.url }}">{{ item.title }}</a>
   </h2>
    {% if item.subtitle %}
    <h3 class="story-subtitle">{{ item.subtitle }}</h3>
    {% else %}
    <h3 class="story-subtitle">{{ item.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %} -->

    <div>
    <h2>  
        <a href="{{ item.url }}" ><img src="{{ item.thumbnail }}" align="left" hspace="20" style="max-width:40%;" />
         <a style="width:500px" font-size:20 href="{{ item.url }}" >{{ item.title }}</a>  
         </h2>
    </div>


</article>

<hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Stories </span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Stories </span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
